In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({'A': range(1,11), 'B': np.random.randn(10)})
df

    A         B
0   1  1.986990
1   2 -0.034081
2   3 -0.828461
3   4  1.606838
4   5  0.472603
5   6  0.305657
6   7  0.167819
7   8 -0.780048
8   9 -1.499749
9  10 -0.119962

In [8]:
df.assign(ln_A=lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1  1.986990  0.000000
1  2 -0.034081  0.693147
2  3 -0.828461  1.098612
3  4  1.606838  1.386294
4  5  0.472603  1.609438

In [10]:
df["ln_A"] = np.log(df.A)
df

    A         B      ln_A
0   1  1.986990  0.000000
1   2 -0.034081  0.693147
2   3 -0.828461  1.098612
3   4  1.606838  1.386294
4   5  0.472603  1.609438
5   6  0.305657  1.791759
6   7  0.167819  1.945910
7   8 -0.780048  2.079442
8   9 -1.499749  2.197225
9  10 -0.119962  2.302585

In [18]:
# pd.qcut(df.B, 3, labels=["good", "medium", "bad"]) # B는 랜덤하게 생성했으므로
pd.qcut(df.B, 2, labels=["good", "bad"])

0     bad
1    good
2    good
3     bad
4     bad
5     bad
6     bad
7    good
8    good
9    good
Name: B, dtype: category
Categories (2, object): [good < bad]

In [23]:
df.max(axis=1)

0     1.98699
1     2.00000
2     3.00000
3     4.00000
4     5.00000
5     6.00000
6     7.00000
7     8.00000
8     9.00000
9    10.00000
dtype: float64

In [30]:
df['B'].clip(lower=1,upper=3)

0    1.986990
1    1.000000
2    1.000000
3    1.606838
4    1.000000
5    1.000000
6    1.000000
7    1.000000
8    1.000000
9    1.000000
Name: B, dtype: float64

In [35]:
df['B'].abs()

0    1.986990
1    0.034081
2    0.828461
3    1.606838
4    0.472603
5    0.305657
6    0.167819
7    0.780048
8    1.499749
9    0.119962
Name: B, dtype: float64